<ion-header >
  <ion-toolbar >
    <ion-title >
      Social Duo's
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  >
  <ion-img src="/assets/img1.png"></ion-img><br>
  <ion-segment (ionChange)="segmentChanged($event)" >
    <ion-segment-button value="login">
      <ion-label>Login</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="registro()" value="registrar">
      <ion-label>Registrar</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list >
    <ion-item  >
    <ion-input [(ngModel)]="user" placeholder="Usuário ou E-mail"></ion-input>
    </ion-item>
    <ion-item  >
    <ion-input [(ngModel)]="pass" type="password" placeholder="Senha"></ion-input>
  </ion-item>
  <br >
  <ion-row center  >
    <ion-col text-center >
  <ion-button fill="outline" class="btnTam" (click) = 'entrar()' >Entrar</ion-button>
  </ion-col>
  </ion-row>

</ion-list>
</ion-content>
